# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
__pycache__/parse_mooc_comments_json.cpython-36.pyc
log.txt
__pycache__/parse_net_comments.cpython-36.pyc
__pycache__/parse_mooc_lec_json.cpython-36.pyc
