{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/aboutus.css')}}" >
{% endblock %}
{% block main %}
<div class="abu">
    <h1 class="title">Soke,让您快速找到您所需的计算机课程</h1>
    <p class="title2">COMP5322 Internet Computing and Applications</p>
</div>
<div class="mp">
    <div class="tt">
        <h3><img src="images/aboutus1.png" alt=""></h3>
        <p>

            <p>This is our project of lecture (COMP5322)</p>
            <p>Team member: Gong Xiyun, Huang Chengcheng, Sun Rui and Ye Lingqin (order by alphabet)</p>
            <p>Please obey opening source spirit, you can refer to it in your homework, but don't plagiarize.</p>
            <p>If you are interested in it or have some suggestions, please leave a message in issue, thank you!</p>
      
        </p>
    </div>
</div>

{% endblock %}