{% extends 'base.html' %}<!--继承自base模板-->

{% block title %}Result{% endblock %}

{% block head %} <!--自定义的head部分，拼接到blockhead-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/search.css') }} ">
{% endblock %}

{% block main %}



<div class="container">

 <h4>
     共找到 23039 个相关内容
 </h4>

    {% for i in con %}
	<div class="row clearfix">
		<div class="col-md-12 column">

			<div class="panel panel-default">

				<div class="panel-body">
					<div class="media">
				 <a href="#" class="pull-left"><img src={{i.img_url}}  class="img-thumbnail" alt="Cinque Terre" width="304" height="236" /></a>
				<div class="media-body">
					<h4 class="media-heading">
						{{i.lec_name}}
					</h4> <p> {{i.school_name}}<br/>
   							 {{i.average}}<br/>
						</p>
						<p>
				 			<a class="btn" href="#">View details »</a>
						</p>
				</div>
			</div>
				</div>

			</div>

		</div>
	</div>
    {% endfor %}
</div>


{% endblock %}