.abu {
	height: 620px;
	background: url(../images/aus.jpg) no-repeat top center;
	margin: 0px 3px auto;
}
.abu .title{
	text-align: center;
	margin: 10PX auto;
	color: white;
	line-height: 400px;
}
.title2 {
	text-align: center;
	margin: 0 auto;
	color: white;
	line-height: 0px;
	font-size: 20px;
}
.mp {
	border-top: 1px solid #ccc;
	margin: -10 25px;
	}
.mp h3{
	width: 167px;
	height: 46px;
	margin: -15px auto 0;
	}

.mp h3 img{
	width: 150px;
	height: 30px;
}
.mp p{
	font-size: 15px;
	color: #666;
	line-height: 26px;
	text-align: center;
	width: 830px;
	margin: 15px  auto 0;
}