
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #fafafa;
	height: 3000px;
}
li {
	list-style: none; /*  取消li 的小点 */
}



/* 顶部导航栏开始啦 */
.header {
	height: 110px;
	background-color: #fff;
	position: relative;
	width: 100%;
	top:0;
	left:0;
}
.inner {
	width: 1200px;
	height: 100px;
	/* background-color: pink; */
	margin: 0 auto;
	line-height: 100px;
}
.logo {
	float: left;
	}
.logo a img{
	width: 190px;
	height: 90px;
}
.searcht{
	position: relative;
	bottom: 0;
}

.nav {
	float: right;
}
.nav li  {
	float: left;
	margin: 0 15px;
}
.nav li a {
	color: #333;
	text-decoration: none;
}
.nav li a:hover {
	color: #2288f6;
}
