

/* banner STAR */
.banner {
	height: 620px;
	background: url(../images/banner2.jpg) no-repeat top center;
	margin: 0px auto;
}
/* banner end */

.service {
	/* margin-top: 75px; */
	width: 1055px;
	height: 660px;
	/* background-color: pink; */
	margin: 20px auto 0;
}
.service-hd {
	border-top: 1px solid #ccc;
	margin: 0 25px;
}
.service-hd h3 {
	width: 167px;
	height: 46px;
	margin: -15px auto 0;
	
}
.service-hd h3 img{
	width: 150px;
	height: 30px;
}
.service-hd p {
	font-size: 12px;
	color: #666;
	line-height: 26px;
	text-align: center;
	width: 830px;
	margin: 15px  auto 0;


}
.service-bd {
	margin-top: 40px;

}
.service-bd li {
	width: 300px;
	height: 510px;
	background-color: #fff;
	float: left;
	border: 1px solid #e7e8e9;
}
.service-bd img{
	width: 214px;
	height: 209px;
	margin: 30px 40px;
}
.service-bd h3{
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	height: 40px;
}

.service-bd p{
	font-size: 12px;
	color: #666;
	width: 230px;
	margin: 0 auto;
	line-height: 26px;
}
.service-bd a{
	display: block;
	width: 148px;
	height: 38px;
	border: 1px solid #ff9412;
	margin: 30px auto;
	text-align: center;
	line-height: 38px;
	color: #ff9412;
	font-size: 16px;
	text-decoration: none;
	border-radius: 5px
}

.service-bd a:hover{
	color: white;
	background-color: #ff9412;
}

.goumailiang{
	margin: 0 30px;
}
.table{
	margin: 110px 480px;
}