.recommend {
	margin-top: 10px;
	background-color: #fff;
	height: 60px;
	width: 100%;
	line-height: 60px;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, .4);
	position: relative;
}
.rec-l {
	padding-left: 30px;
}
.rec-l strong {
	color: #22b0ff;
	font-size: 14px;
	margin-right: 15px;
}

.rec-l a {
	margin: 0 15px;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.recommend em {
	position: absolute;
	right: 20px;
	bottom: 0;
}


.container{
padding: 50px 0;
}

